/* pagestyle.css */
table.search {
    background-color: #5F9EA0;
    border-style: solid;
    border-color: #778899;
    width: 60%;
    border-width: 5px;
    margin: auto;
}

table.results {
    width: 95%;
    margin: auto;
}

tr.row {
    background-color: #5F9EA0;
    border-style: solid;
    border-color: #778899;
    border-collapse: collapse;
    border-width: 5px;
}

input[type=submit] {
    background-color: #778899;
    border: ridge;
    border-color: white;
    color: white;
    padding: 10px 10px;
    font-size: 13px;
    cursor: pointer;
}