body {
    width: 100%;
}

div.form_background {
    background-color: #3C738E;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 75%;
    border-radius: 5px;
    border-left: 10px solid #C55233;
}

font.errors {
    font-size: 25px;
    color: red;
    text-shadow: black 1px 1px 1px;
    -webkit-font-smoothing: antialiased;
}

input[type="text"] {
    position: absolute;
    left: 25%;
    width: 400px;
    font-size: 15px;
    outline: 0;
}

span.full {
    position: absolute;
    left: 25%;
}

select {
    position: absolute;
    margin-top: 8px;
    left: 25%;
    width: 400px;
    line-height: 2;
}

h2 {
    text-align: center;
    font-weight: 100;
    color: black;
}

h3 {
    font-weight: 100;
    color: black;
}

h4 {
    display: inline;
    line-height: 2;
    padding-left: 15px;
    color: black;
}

label {
    color: black;
}

input[type=submit] {
    background-color: #f8fafa;
    border: solid;
    border-color: #384044;
    color: black;
    padding: 8px 10px;
    font-size: 13px;
    cursor: pointer;
    margin-left: 80%;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
}

/* Customize the label (the container) */
.container {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 15px;
    width: 125px;
    line-height: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
.full {
    line-height: 2;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #f8fafa;
}
  
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #f8fafa;
}
  
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #C55233;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #f8fafa;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-dropdown {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin: 0; /* demo only */
    left: 25%;
}
  
.custom-dropdown select {
    background-color: #f8fafa;
    color: black;
    font-size: 15px;
    padding-left: 10px;
    border: 0;
    border-radius: 0;
    margin: 0;
    -webkit-appearance: button; /* hide default arrow in chrome OSX */
    outline: 0;
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
  left: 375px;
  top: 10px;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 50%;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown::before {
  background-color: black;
}

.custom-dropdown::after {
  color: black;
}

div.drop {
    line-height: 2;
}