div.columns_bg {
    position: fixed;
    width: 100%;
    top: 21%;
    height: 12%; 
    z-index: 1;
    background: #384044;
}

div.columns {
    display: flex;
    width: 90%;
    flex-direction: row;
    margin: 2% auto;
    text-align: center;
}

div.parent {
    display: flex;
    width: 90%;
    flex-direction: row;
    margin: 5% auto;
    text-align: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: left;
    font-weight: 100;
    color: #f8fafa;
    padding: 0;
    display: inline;
}

p {
    font-size: 18px;
}

p.sub {
    font-size: 15px;
}

div.between {
    height: 50px;
    width: 100%;
    background-color: #384044;
}

input[type=submit] {
    background-color: #f8fafa;
    border: solid;
    border-color: #384044;
    color: black;
    padding: 8px 10px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
}

div.col_image {
    flex-basis: 18%;
    padding-left: 10px;
}

div.col_title {
    flex-basis: 26%;
}

div.col_author, div.col_publish, div.col_genre {
    flex-basis: 18%;
}

div.child_image {
    border-left: 10px solid #C55233;
    text-align: center;
    flex-basis: 18%;
    padding-top: 2%;
    padding-bottom: 2%;
    background: #3C738E;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    flex-grow: 1;
}

div.child_title {
    flex-basis: 24%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    background: #3C738E;
    text-align: left;
    flex-grow: 1;
}

div.child_author, div.child_publish {
    flex-basis: 16%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    background: #3C738E;
    flex-grow: 1;
}

div.child_genre {
    flex-basis: 12%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: #3C738E;
    flex-grow: 1;
}