body {
    width: 100%;
}

div.simple_background {
    background-color: #3C738E;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 500px;
    border-radius: 5px;
    border-left: 10px solid #C55233;
}

h2 {
    text-align: center;
    padding: 20px;
    margin: 0px;
    font-weight: 100;
}

h3 {
    padding-bottom: 10px;
    margin: 0px;
    font-weight: 100;
}

font.errors {
    font-size: 20px;
    color: red;
    text-shadow: black 1px 1px 1px;
    -webkit-font-smoothing: antialiased;
}

input[type="text"] {
    width: 400px;
    font-size: 15px;
    outline: 0;
}

input[type=submit] {
    background-color: #f8fafa;
    border: solid;
    border-color: #384044;
    color: black;
    font-size: 13px;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
}