{% extends "header.html" %}

{% load i18n %}
{% load account socialaccount %}

<head>
    {% block head_title %}{% trans "Sign In" %}{% endblock %}
	{% block css %}
    	{% load static %}
    	<link href="{% static "login.css" %}" rel="stylesheet" type="text/css"/>
    {% endblock %}
</head>

<body>
	{% block title %}<title>Simple Book Search</title>{% endblock %}
  	{% block head %}<h1>Hot Ramen Books</h1>{% endblock %}

	{% block content %}
	<div class="body">
		{% get_providers as socialaccount_providers %}

		{% if socialaccount_providers %}
		<p class="text">{% blocktrans with site.name as site_name %}Please sign in with one
		of your existing third party accounts. <!--Or, <a class="link" href="{{ signup_url }}">sign up</a>
		for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
		-->

		<br><br>

		<div class="socialaccount_ballot">
			<button class="primaryAction" type="submit">{% include "socialaccount/snippets/provider_list.html" with process="login" %}</button>
		</div>

<!--			{% include "socialaccount/snippets/login_extra.html" %}

			{% else %}
			<p>{% blocktrans %}If you have not created an account yet, then please
			<a class="link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
			{% endif %}

		<form class="login" method="POST" action="{% url 'account_login' %}">
			{% csrf_token %}
			{{ form.as_p }}
			{% if redirect_field_value %}
				<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
			<a class="link" class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
			<button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
		</form>
	-->
	</div>
	{% endblock %}
</body>
</html>